<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple CRUD App</title>
  </head>
  <body>
    <h1>Pizza Reviews</h1>
    <ul>
      {% for item in items %}
      <li>
        {{ item.name, item.score, item.location}} -
        <a href="/delete/{{ item.id }}">Delete</a>
      </li>
      {% endfor %}
    </ul>

    <h2>Add Review</h2>
    <form action="/add" method="POST">
      <input
        type="text"
        name="name"
        placeholder="Enter Pizza Parlor"
        required
      />
      <input
        type="text"
        name="score"
        placeholder="Enter Decimal Score"
        required
      />
      <input
        type="text"
        name="location"
        placeholder="Enter Location, i.e. Buffalo, NY"
        required
      />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
